<!DOCTYPE html>
<html>
  <head>
    <title>Inicio</title>
    <meta charset="utf-8" />
  </head>
  <body style="background-image: url('assets/citynight.jpg'); position: relative; background-attachment: fixed; background-size: cover">
    <div class="row">
      <div class="=small-2 large-4 columns" style="background-color: purple; opacity: .8; background-attachment: cover; height: 100vh" >
        </br></br></br></br></br>
        <h2 style="color: white" align="center">PARTICULARES</h2>
        <div align="center" >
          <div style="height: 250px; vertical-align: middle" >
            <img src="assets/car.png" />
          </div>
          <a href="particulars" class="button" align="center">SELECCIONAR</a>
        </div>
      </div>
      <div class="small-2 large-4 columns" style="background-color: #FF66FF; opacity: .8; background-attachment: cover; height: 100vh" >
        </br></br></br></br></br>
        <h2 style="color: white" align="center">TAXIS</h2>
        <div align="center">
          <div style="height: 250px" >
            <img src="assets/taxi.png" height="15" style="height: 200px" />
          </div>
          <a href="sitios" class="button" align="center">SELECCIONAR</a>
        </div>
      </div>
      <div class="small-2 large-4 columns" style="background-color: red; opacity: .8; background-attachment: cover; height: 100vh" >
        </br></br></br></br></br>
        <div style="opacity: 1" >
          <h2 style="color: white" align="center">SERVICIOS</h2>
          <div align="center">
            <div style="height:250px" >
              <img src="assets/bus.png" height="15" />
            </div>
            <a href="transportes" class="button" align="center">SELECCIONAR</a>
          </div>
        </div>
      </div>
    </div>
    <!--/div-->
    <div style="text-align: center; color: white" >
      <footer>Copyright&copy; by Laboratorio de Desarrollo de Aplicaciones Web</footer>
    </body>
    </div>
</html>